* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.navbar {
  display: flex;
  align-items: center;    
  justify-content: space-between;
  padding: 12px 30px;
  background: linear-gradient(90deg, #007bff, #00bfff);
}

.image {
  display: flex;
  align-items: center;
  gap: 12px;
}

.image img {
  width: 60px;
  height: 60px;
}
.image h1{

    font-size: 30px;
}

.logo {
  font-size: 28px;
  color: #000;
  font-weight: bold;
}
 .logout-btn {
  padding: 10px 30px;
  border-radius: 25px;
  border: none;
  background: #fff;
  color: #007bff;
  font-size: 16px;
  font-weight: 600;
  cursor: pointer;
  transition: 0.3s;
  width: 20%;
}

.logout-btn:hover {
  background: #f1f1f1;
}
.list{
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  gap: 20px;
  margin: 20px;
}
.list button{
  width: 100%;
  padding: 12px;
  background-color: #4facfe;
  color: white;
  font-size: 16px;
  font-weight: bold;
  border: none;
  border-radius: 6px;
  cursor: pointer;
  transition: 0.3s;
  margin-top: 10px;
}
.list button:hover{
  transition: 0.3s;
  background-color: #00c6ff;
}
/* Popup Overlay */
.popup-overlay {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: rgba(0, 0, 0, 0.5);
  display: flex;
  align-items: center;
  justify-content: center;
}

/* Popup Box */
.popup {
  background: white;
  padding: 30px;
  width: 600px;
  border-radius: 12px;
  text-align: center;
  box-shadow: 0 10px 30px rgba(0,0,0,0.9);
}

/* Close Button */
.close-btn {
  margin-top: 20px;
  padding: 10px 20px;
  border: none;
  border-radius: 8px;
  background: red;
  color: white;
  cursor: pointer;
  box-shadow: 1px 1px 7px 3px rgb(225, 95, 95);
}

.close-btn:hover {
  background: rgb(232, 25, 25);
}