.requestcontainer{
    display: flex;
    flex-direction: column;
    gap: 10px;
    background-color: rgb(25, 150, 238);
    padding: 20px;
    border-radius: 10px;
    box-shadow: 1px 1px 10px 2px rgb(0, 0, 0);
    margin-top: 10px;
    font-weight: bold;
    justify-content: center;
    align-items: center;
}
.requestcontainer input{
    padding: 10px 20px 10px 5px ;
    border-radius: 5px;
    outline: none;
    border: none;
    font-weight: bold;
}
.requestcontainer button{
    width: 100px;
    padding: 5px 20px;
    font-weight: bold;
    color: rgb(25, 150, 238);
    background-color: white;
    border: none;
}
.requestcontainer button:hover{
    border-radius: 9px;
    box-shadow: 1px 1px 20px 1px rgb(0, 0, 0,0.5);
    transition: 0.1s;
}