.showitems{
    margin-top: 20px;
    background-color: rgb(124, 190, 249);
    border-radius: 20px;
    border: 1px solid rgb(12, 154, 243);
    box-shadow: 1px 2px 10px 0px;
}
.showitems p{
    font-size: 25px;
}
.showitems p strong{
    text-align: center;
    padding: 20px;
}