.chat-page {
  height: 90vh;
  display: flex;
  justify-content: center;
  align-items: center;
  background: #eef2f7;
}

.chat-box {
  width: 400px;
  background: white;
  border-radius: 10px;
  display: flex;
  flex-direction: column;
  box-shadow: 0 5px 15px rgba(0,0,0,0.2);
}

.chat-header {
  padding: 15px;
  background: #5ba3fb;
  color: white;
  text-align: center;
  font-weight: bold;
  border-radius: 10px 10px 0 0;
}

.chat-messages {
  flex: 1;
  padding: 15px;
  overflow-y: auto;
}

.message {
  padding: 8px 12px;
  border-radius: 15px;
  margin-bottom: 10px;
  max-width: 70%;
}

.left {
  background: #ddd;
  align-self: flex-start;
}

.right {
  background: #5ba3fb;
  color: white;
  align-self: flex-end;
}

.chat-input {
  display: flex;
  border-top: 1px solid #ccc;
}

.chat-input input {
  flex: 1;
  padding: 10px;
  border: none;
  outline: none;
}

.chat-input button {
  background: #5ba3fb;
  color: white;
  border: none;
  padding: 10px 15px;
  cursor: pointer;
}
